In [5]:
print("Erudite")
# print("2")
"erudite has many programs"

Erudite

In [18]:
#print("amongus")
words="erudite has many programs"
key= 3.5
print(sentence)
print(key)

erudite has many programs
3.5

In [31]:
# words="erudite has many programs jshhskjewhou jbdbjd jhshdgfkwuhdh jdhkwdhwdbwld hehdvhkdugdeuoghobfljblkjdbldk.bkjblkud"
number=7
# print(words)
print(number)

7

In [35]:
y=4
x=6
x=10
y=2
print(y)

2

# varaibless

In [40]:
x=20
y=30
z=300
w=80
t=90
sum=x/y-z+w*t
print(sum)

6900.666666666667

In [41]:
x=20
y=30
z=50
divide=x*y+z
print(divide)

650

In [53]:
name="Mubarak"
age= 18
program="41R"
sentence= "My name is "+name+" and I am doing "+program
print(sentence)

My name is Mubarak  and I am doing 41R

In [ ]:
#LIST PYTHON

In [7]:
FRUITS=["apple","Banana","orange", "Strawberry"]
FRUITS.sort(reverse=True, key=str.lower)
print(FRUITS)

['orange', 'apple', 'Strawberry', 'Banana']

In [ ]:
number=[7,5,3,4,9,10]
number.sort(reverse=True)
print(number)

In [ ]:
list=FRUITS.copy()
print(list)
print(FRUITS)

In [ ]:
list.append("pear")
print(list)
print(FRUITS)

In [ ]:
LIST1= FRUITS+number
print(LIST1)

In [ ]:
list2=FRUITS
print(list2)
print(FRUITS)

In [ ]:
list2.append("THANK YOU!!!!")
print(list2)
print(FRUITS)

In [ ]:
#NOTE: List is changeable or mutable, it is indexed, ordered and allows duplicate

TYPE CASTING

In [27]:
# name="kola"
# age=35
# print("My name is ",int(name),",I am "+str(age)+" years old")
# str
# int
# float
x=3.9
Y=int(x)
print(Y)

3

In [ ]:
name = "kola"
age = 35
print("my name is "+name+",i am "+str(age)+" years old")

In [12]:
val1="35"
val2="36"
print(int(val1)+int(val2))

71

# TUPPLE

In [ ]:
#TUPLE: It is unchangeable or immutable, it is indexed, ordered and allows duplicates

In [ ]:
newtuple=("Java", "Python", "Kotlin")
print(len(newtuple))
print(newtuple[2])

In [ ]:
mytup=(1,4,7,4,5)
sorted(mytup)

In [ ]:
mytuplist=list(mytup)
print(mytuplist)

In [ ]:
mytuplist.pop()

In [ ]:
mytup=tuple(mytuplist)
mytup

In [ ]:
mytup2=("python","java","php")

In [ ]:
mynewtup=mytup+mytup2
print(mynewtup)

In [ ]:
mytupn=("python","java","php")

for k in mytupn:
    print(k)

In [ ]:
name=(2,4,8,2,9,2,9)
name.count(2)

In [ ]:
#packing
tup1=("apple","banana","orange")
print(tup1[0])
print(tup1[1])

In [ ]:
#unpacking: This is where we can store all the elements in a tuple into different variables
fruits=("apple","banana","orange")
(var1,var2,var3)=fruits
print(var1)
print(var2)
print(var3)

In [ ]:
fruits=("apple","banana","orange","strawberry","pear")
(var1,var2,*var3)=fruits
print(var1)
print(var2)
print(var3)

In [ ]:
fruits=("apple","banana","orange","strawberry","pear")
(var1,*var2,var3)=fruits
print(var1)
print(var2)
print(var3)

# SET

In [ ]:
#set
#NOTE: Set is unchangeable, unordered, unindexed and it does not allow duplicate

In [ ]:
myset= {"beans", "rice", "yam", "rice"}
print(myset)

In [8]:
myset1={"apple", "banana", "orange"}
myset1.remove("orange")
print(myset1)

{'apple', 'banana'}

In [9]:
myset.add("java")
print(myset)

NameError: name 'myset' is not defined

In [10]:
myset.update(myset1)
print(myset)

NameError: name 'myset' is not defined

In [ ]:
myset2={"name", "age","yam"}
myset.intersection(myset2)

In [ ]:
import random

In [ ]:
random.random()

In [11]:
n=100
int(random.random()*n)

NameError: name 'random' is not defined

In [ ]:
import math
val=math.sqrt(100)
val2=math.hypot(3,4)
(print(val*val2))

ASSIGNMENT

In [1]:
M=int(input("enter value for M"))
T=int(input("enter value for T"))
N=int(input("enter value for N"))
a=((M**2)+(3*(N**4)))
import math
b=math.sqrt((T**3)+(N**2))
c=(a/b)
d=c**(1./3.)
print(round(d,2))

4.9

CLASSWORK

In [ ]:
d=int(input("enter value for d"))
a=int(input("enter value for a"))
b=int(input("enter value for b"))
c=int(input("enter value for c"))
m=int(input("enter value for m"))
n=int(input("enter value for n"))
y=(((c*m)-(a*d))/((b*m)-(a*n)))
x=(((d)-(n*y))/m)
print(y)
print(x)

# OPERATORS

In [ ]:
# 1. Arithmetic Operators
# 2. Assignment Operators
# 3. Comparison Operators
# 4. Logical Operators
# 5. Membership Operators
# 6. Bitwise Operators

In [ ]:
# Assignment operator
x= 4
y= 8
x+=1 #x=x+1
y-=10 #y=y-10
print(x)
print(y)

In [ ]:
m=12
x=3
m+=x #m=m+x
print(m)

In [ ]:
#Comparison Operator
x=15
y=10
print(x==15)
print(x>y)
print(x<=y)
print(x!=15)

In [ ]:
#Logical Operator: or and not


x=3
y=5
m= x==3 or x<5
print(m)
names= ["java","php","python"]
print("kotlin" in names)
print("java" not in names)

In [ ]:
#Nested If Statement
x=2
y=5
m=7

if x>y:
    if y>m:
        print("Come On! this is cool")
    else:
        print("ohhh not really")
else:
    print("you got it mehn")

In [ ]:
#<18
#>18<65
#>65

In [ ]:
age=int(input("Please enter your age"))
if age<18:
    print("You're not eligible to vote")
elif age>18 and age<65:
    print("You're eligible to vote")
elif age>65:
    print("Leave the voting to the youth you're to Old to vote")

# LOOPS

FOR LOOP

In [ ]:
mlist= [2,10,7,8,9,19,13,15,17]
for i in mlist:
    print(i)
print("waoo this is cool")

In [ ]:
for j in range(1,51):
    print(j)

In [ ]:
for j in range(1,51):
    print(j,end=", ")

In [ ]:
for j in range(1,51):
    if j%2==0:
        print(j,"is and even number")
    else:
        print(j,"is an odd number")

In [ ]:
c= 0
for j in range(1,10000):
    if j%2==0:
        c+=j
print("the sum is", c)

In [ ]:
num=int(input("enter a number"))
print("the multiplication table of:", num)
for count in range(1,11):
    print(num,'x',count,'=',num*count)

PATTERNS

In [ ]:
#1. ####
    ####
    ####
    ####

#2. #
    ##
    ###
    ####

#3. ####
    ###
    ##
    #

In [14]:
for i in range(4):
    for j in range(i+1):
       print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [5]:
for i in range(4+1,0,-1):
    for j in range(i-1):
        print("#", end=" ")
    print()

# # # #
# # #
# #
#

In [ ]:
for j in range(1,11):
    if j==2 or j==4 or j==7 or j==9:
        continue
    print(j)

In [ ]:
list= [1,2,3,4,5,6,7,8,9,10]
for i in list:
    if i%2==1:
        print(i)
        
    elif i%2==0:
     print(i)

In [ ]:
l=0
ml=[1,2,3,4,5,6,7,8,9,10]
if ml%2==0:
 print([l])

In [ ]:
ml=[1,2,3,4,5,6,7,8,9,10]
for l in ml:
    if l%2==0:
      print(l,end=" ")

WHILE LOOP

In [3]:
i=1
while i<5:
    print(i)
    i+=1

1
2
3
4

In [13]:
i=1
while i<5:
    j=1
    while j<5:
        print("#",end=" ")
        j+=1
    i+=1
    print()

# # # #
# # # #
# # # #
# # # #

In [33]:
for i in range(1,5):
    for j in range(i+1):
       print(j,end=" ")
    print()

0 1
0 1 2
0 1 2 3
0 1 2 3 4

# Assignment

1.

In [5]:
i=0
for q in range (100,201):
    i+=q
print(i)

15150

2.

In [8]:
temp=int(input("choose a temperature in degree centigrade"))
if temp<0:
    print("Freezing Weather")
elif 0<temp<10:
    print("Very Cold Weather")
elif 10<temp<20:
    print("Cold Weather")
elif 20<temp<30:
    print("Normal Temperature")
elif temp>100:
    print("Out of Range")
elif temp>=40:
    print("Scorching Weather")

Scorching Weather

3.

In [17]:
mnth= input("Input name of a month")
if mnth=="February":
    print("it has 28 or 29 days")
elif mnth in ("April","june","september","November"):
    print("It has 30 days")
elif mnth in ("January","March","May","July","August","October","December"):
    print("It has 31 days")
else:
    print("Come on this is not a month")

Come on this is not a month

In [3]:
name= input("Enter your Name: ")
while name!="Mubarak":
    print("ACCESS DENIED!")
    name= input("Enter your Name")
else:
    print("You are Welcome Mr",name)

ACCESS DENIED!
You are Welcome Mr Mubarak

In [3]:
name= input("Enter your Name: ")
c=5
while c>0:
    if name=="Mubarak":
        print("You are Welcome Mr",name)
        break
    else:
        print("ACCESS DENIED!")
        name= input("Enter your Name")
    c-=1
else:
    if c==0:
      print("You have exhausted your chances")

ACCESS DENIED!
ACCESS DENIED!
You are Welcome Mr Mubarak

In [8]:
mylst=[[2,1,3],[1,4,5],[3,0,6]]
result=[sum(l) for l in zip(*mylst)]
print(result)
a=0
for i in result:
    a+=i
print(a)

[6, 5, 14]
25

In [15]:
mylst=[[2,1,3],[1,4,5],[3,0,6]]
mlist=[]
for i in mylst:
    result=sum(i)
    print(result)

6
10
9

LIST COMPREHENSION

In [1]:
num=int(input("please enter a number"))
c=0
for i in range(1,num+1):
    c+=i
print(c)

6

In [4]:
#Looping through a dictionary
mydico = {"name":"david","location":"Lagos","age":"24","status":"single"}
for vut in mydico.items():
    print(vut)

('name', 'david')
('location', 'Lagos')
('age', '24')
('status', 'single')

In [2]:
age=int(input("Enter age"))
if age<0:
    print("Invalid age")
elif age<=7:
    print("Child ticket: $10")
elif 8<=age<=17:
    print("Teenager Ticket: $15")
elif age>=18:
    salary=int(input("Enter salary"))
    if salary<0:
        print("Invalid salary")
    elif salary<=1000:
        print("Reduced adult ticket 1: $20")
    elif 1001<=salary<=2000:
        print("Reduced adult ticket2: $25")
    else:
        print("Adult ticket:$30")

Invalid salary

In [51]:
text=input("Enter anything")
i=0
for w in text:
    if w.isupper()==False and w.islower()==False:
        continue
    elif w.isupper():
        i+=1
if i==1:
    print("There is",i,"uppercase letter")
else:
    print("There are",i,"uppercase letter")

There are 2 uppercase letter

In [5]:
name=input("Name: ")
print("choose either of the two")
print("Male")
print("Female")
gender=input("Gender: ")
W=int(input("Weight: "))
H=float(input("Height: "))
BMI=W/(H**2)
print(BMI)
if gender=="Male":
    if BMI<18:
        print("Mr. ",name,"Your BMI is ",BMI,"you are underweight please eat more!!!")
    elif BMI>18 and BMI<25:
        print("Mr. ",name,"Your BMI is ",BMI,"you are healthy please keep it up!!!")
    elif BMI>25 and BMI<30:
        print("Mr. ",name,"Your BMI is ",BMI,"you are overweight please watch it!!!")
    elif BMI>30:
        print("Mr. ",name,"Your BMI is ",BMI,"you are obese please go to the gym!!!")
elif gender=="Female":
    if BMI<18:
        print("Mrs. ",name,"Your BMI is ",BMI,"you are underweight please eat more!!!")
    elif BMI>18 and BMI<25:
        print("Mrs. ",name,"Your BMI is ",BMI,"you are healthy please keep it up!!!")
    elif BMI>25 and BMI<30:
        print("Mrs. ",name,"Your BMI is ",BMI,"you are overweight please watch it!!!")
    elif BMI>30:
        print("Mrs. ",name,"Your BMI is ",BMI,"you are obese please go to the gym!!!")

choose either of the two
Male
Female
133.33333333333334
Mrs.  Aakifah Your BMI is  133.33333333333334 you are obese please go to the gym!!!

In [7]:
val1=float(input("a: "))
val2=float(input("b: "))
val3=float(input("c: "))

d=float(-1*val2)
e=float(val2**2)
f=float(4*val1*val3)
g=float(e-f)
import math
if g>0 or g==0:
    h=math.sqrt(g)
    i=2*val1
    x1=float(((d+h)/i))
    x2=float(((d-h)/i))
    print(x1)
    print(x2)
elif g<0:
    print("The roots are imaginary")

The roots are imaginary

# Function

In [ ]:
#Function is a block of code which needs to be invoked or called before it is executed

TYPES OF FUNCTION

In [ ]:
#1. Non parameterized function: this is a function without parameters
#2. Parameterized function: this is a function with parameters

Non parameterized Function

In [2]:
def newFunction():
    print("This is a function")
newFunction()

This is a function

Parameterized Function

In [5]:
def func1(x):
    return f"this is {x}"
func1(200)

'this is 200'

In [6]:
def func2(x,y):
    return "noooooo" if x>y else "coool"
func2(12,24)

'coool'

In [9]:
def func3(x,y):
    if x>y:
        return f"waoooo {x} is more than {y}"
    elif x<y and x==10:
        return f"perfect {x} is less than {y}"
    else:
        return f"something"
func3(10,9)

'waoooo 10 is more than 9'

In [5]:
name=input("Enter name: ")
age=int(input("Enter age: "))
def funct():
    if age<18:
        return f"{name} You're too young to vote"
    elif age>=18 and age<=70:
        return f"{name} You're eligible to vote"
    elif age>70:
        return f"{name} You dont need to vote GO HOME!!!"
funct()

"muba You're too young to vote"

VARIABLE LENGTH ARGUEMENT

In [5]:
def addition(x,*num):
    print(x)
    print(num)
    c=x
    for i in num:
        c+=i
    return c
addition(6,4,5)

6
(4, 5)

15

In [6]:
num=input("Enter Values: ")
m=[]
while num!="x":
    num=int(input("enter value: "))
    m.append(num)
print(m)
c=0
for i in g:
    c+=i
print(c)

ValueError: invalid literal for int() with base 10: 'x'

In [2]:
mlist=[2,3,5,7]
for i in mlist:
    print(i)

2
3
5
7

In [9]:
def mycode(name, **num):
    print(name)
    

mycode("David",age=14,state="Lagos",mobile=38769)

David

KEYWORD VARIABLE LENGTH ARGUEMENT

In [10]:
def mycode(name, **num):
    print(name)
    for k,v in num.items():
        print(k,v)
mycode("David",age=14,state="Lagos",mobile=38769)

David
age 14
state Lagos
mobile 38769

RECURSION

In [1]:
def test(n):
    c=0
    if n>0:
        c=n+test(n-1)
        return c
    else:
        return c
test(200)

20100

In [1]:
def factori(n):
    c=1
    if n>0:
        c=n*factori(n-1)
        return c
    else:
        return c
factori(5)

120

In [4]:
mlist=[]
for i in range(1,21):
    mlist.append(i)
print(mlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
def func1(number):
    def func2():
        return number+1
    return func2()
func1(10)

11

In [13]:
def func1():
    def func(n):
        c=0
        if n>0:
            c=n+func(n-1)
        return c
    print(func(5))
func1()

15

Local & Global Variable

In [14]:
x=3          #GLOBAL VARIABLE
def test():
    global x
    x=10  
    print(x)   #LOCAL VARIABLE

print(x)

3

In [47]:
mlist=[]
def clip(*values,min_=0,max_=1):
    for i in values:
        if i<min_:
            mlist.append(min_)
        elif i>max_:
            mlist.append(max_)
        else:
            mlist.append(i)
clip(-1,0.5,min_=-2)
print(mlist)

[-1, 0.5]

In [51]:
def mup(n,m):
    if m==1:
        return n
    else:
        return n*mup(n,m-1)
mup(2,3)

8

In [71]:
def pes(n):
    c=0
    f=1
    for i in range(1,n):
        if i%2==0:
            c+=i
        else:
            f+=i
    return c
    return f
pes(10)

20

EXCEPTION HANDLING

In [56]:
print("java")
print(muname)
print(5)

java

NameError: name 'muname' is not defined

In [57]:
print(5/0)

ZeroDivisionError: division by zero

In [1]:
m=[1,4,7]
print(m[2])

7

In [4]:
try:
    print(muname)
except Exception:
    print("Your variable has not been defined")

Your variable has not been defined

In [7]:
try:
    print(5/0)
except ZeroDivisionError:
    print("Your variable has not been defined")

Your variable has not been defined

In [1]:
v=[1,2,3,4,[5,6,7],8,9]
def flatten(list):
    res=[]
    for i in list:
        if isinstance(i,list):
            for m in i:
                res.append(m)
        else:
            res.append(i)
    return res 
flatten(v)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [3]:
print(3%2//5)

0

In [8]:
print(2**7//3%6)

0

In [14]:
print(40^15)

39

In [15]:
155>>5

4

In [16]:
3&7

3

In [17]:
if x!=10:
    print("#")
    if x<8:
        print("#")
    elif x==10:
        print("#")
    else:
        print("#")
else:
    print("#"*3)

NameError: name 'x' is not defined

In [18]:
name=input()
print(name=="Robert")

False

In [2]:
i=0
while i<1:
    print('Hello',end=",")
    i+=1
else:
    print("world")

Hello,world

In [3]:
bin(12)

'0b1100'

RAISE KEYWORD

In [4]:
val="name"
if not type(val) is int:
    raise TypeError("This is not an integer")

TypeError: This is not an integer

In [1]:
val=3.5
if not type(val) is int:
    raise TypeError("This is not an integer")
else:
    print(val)

TypeError: This is not an integer

In [17]:
name=input("Enter your name: ")
location=input("Enter your location: ")
gender=input("Enter your gender: ")
if gender=="male"or gender=="m"or gender=="Male"or gender=="M":
    print("Welcome Mr.",name," from ",location)
elif gender=="female"or gender=="f" or gender=="Female" or gender=="F":
    print("Welcome Mrs.",name," from ",location)
age=int(input("Enter your age: "))
if age<18:
    print("You're not eligible to vote")
elif 18<age<60 or age==18:
    print("You're eligible to vote")
    PVC=input("Do you have a PVC: ")
    if PVC=="Yes" or PVC=="Y" or PVC=="y" or PVC=="yes":
        print("Get ready to vote next year")
    elif PVC=="No" or PVC=="N" or PVC=="n" or PVC=="no":
        reason=input("Why don't you have(Type misplaced or not registered): ")
        if reason=="Misplaced" or reason=="misplaced":
            print("You still have time to get another one")
        elif reason=="Not registered" or reason=="not registered":
            print("Go and get one before next year")
    else:
        print("Go back and choose an option")
elif age>60 or age==60:
    print("You dont need to vote dont worry")

ValueError: invalid literal for int() with base 10: ''

In [18]:
lst=[1,2]*5
print(len(lst))

10

In [19]:
5%4**2//2

2

In [20]:
print("Hello","\nPython")

Hello
Python

In [25]:
def num(x,y=5):
    print(y,x)
num(2)

5 2

In [26]:
tup1=(1,3,5)
tup2=(2,4)
tup1=tup1+tup2
print(tup1)

(1, 3, 5, 2, 4)

In [4]:
nums=[1,2,3,4,5,6,7]
print(nums[::2])

[1, 3, 5, 7]

In [5]:
a=0b1011
b=0b1001
print(bin(a^b))

0b10

In [19]:
x=0
for i in range(10):
    for j in range(-1,-10,-1):
        x+=1
    print(x)

9
18
27
36
45
54
63
72
81
90

In [10]:
x=100
def glob():
    global x
    x=20
glob()
print(x)

20